<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Local NuGet repositories -->
    <add key="Local SpacetimeDB.BSATN.Runtime" value="../SpacetimeDBPrivate/public/crates/bindings-csharp/BSATN.Runtime/bin/Release" />
    <!-- Official NuGet.org server -->
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
